<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheResult="true"
        cacheDirectory=".phpunit.cache"
        colors="true"
        executionOrder="depends,defects"
        beStrictAboutCoverageMetadata="true"
        beStrictAboutOutputDuringTests="true"
        failOnRisky="true"
        failOnWarning="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
    </coverage>
</phpunit>
